@media only screen and (min-width: 768px) {
    .img-logo {
        max-width: 75%;
    }
}
@media only screen and (max-width: 767px) {
    .img-logo {
        max-width: 50%;
    }
}

.header__info2 {
    padding: 10px 0;
}

@media only screen and (max-width: 767px) {
    .header__info2 {
        display: none;
    }
}
